.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: -35px
}

.barcode-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: rgba(200, 230, 200, 0.25);
  width: 480px;
  padding: 25px;
}

.barcode-container > h1 {
    font-size: 23px;
}

.form {
    margin-bottom: 10px;
}

.barcode-text {
  display: block;
  text-align: center;
  font-family: monospace;
  font-size: 20px;
  margin: 10px;
}
